In [2]:
#Variable EX

a = 10 #Integer
b = 3.14 #Float
c = "A" #String
d = "Software Engineer" #String
e = 'A' #String
f = "Software Engineer" #String
g = True #Boolean
h = False #Boolean
i = [] #List
j = [1,2,3] #List
k = {} #Dictionary
l = () #Tuple

In [5]:
#Print untuk debugger

print(c)
print(2+4+3)
print("Hello World!")
print(j)

A
9
Hello World!
[1, 2, 3]

In [6]:
nama = "Francis"
umur = 20
tempat = "Mataram"

In [7]:
#scanf di C || cin di C++
nama = input()

Francheeze

In [8]:
#concatenation
print("Hai, namaku adalah " + nama)
print("Hai, namaku adalah {}".format("Francis"))
print("Hai, namaku adalah {}".format(nama))

Hai, namaku adalah Francheeze
Hai, namaku adalah Francis
Hai, namaku adalah Francheeze

In [9]:
print("Hai, namaku adalah " + nama + ", umurku " + str(umur))
print("Hai, namaku adalah ", nama ,", umurku ", umur)
print("Hai, namaku adalah {}, umurku {}, saya tinggal di {}".format(nama, umur, tempat)) #Recommended

Hai, namaku adalah Francheeze, umurku 20
Hai, namaku adalah  Francheeze , umurku  20
Hai, namaku adalah Francheeze, umurku 20, saya tinggal di Mataram

In [10]:
import math
a = 10
b = 10
#If else

## Conditional Statement
a == b
a != b
a < b
a <= b
a > b
a >= b
True and True
False or True 

##Operator
a + b
a - b
a * b
a / b # 10 / 10 = 1.0 --> Float Division
a // b # 10 // 10 = 1 --> Integer Division
a ** b # 10^10 = 100
a % b # Modulus
a ** (1/2) # akar variable a, dimana a = 10
math.sqrt(a) # akar variabel a
math.sin(a)
math.tan(a)
math.cos(a)
math.tanh(a)
math.sinh(a)
math.cosh(a)
math.log(a)

2.302585092994046

In [12]:
if a == 10:
  print("a sama dengan 10")
elif a > 10:
  print("a lebih besar dari 10")
else:
  print("a kurang dari 10")
print("ini diluar if")

a sama dengan 10
ini diluar if